
@{ 

    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>


   
    <div class="row">
        <!-- 2 row Starts -->

        @for (int i = 0; i < 4; i++)
        {

            <div class="col-lg-3 col-md-6" style="min-height:100%">
                <!-- col-lg-3 col-md-6 Starts -->

                <div class="panel">
                    <!-- panel panel-primary Starts -->

                    <div class="panel-heading">
                        <!-- panel-heading Starts -->

                      
                        <div class="row">
                            <div class="chart-container">
                                <canvas id="@("chart_"+i.ToString())"></canvas>
                            </div>
                        </div>

                    </div><!-- panel-heading Ends -->

                    <a href="">

                        <div class="panel-footer">
                            <!-- panel-footer Starts -->

                            <span class="pull-left"> View Details </span>

                            <span class="pull-right"> <i class="fa fa-arrow-circle-right"></i> </span>

                            <div class="clearfix"></div>

                        </div><!-- panel-footer Ends -->

                    </a>

                </div><!-- panel panel-primary Ends -->

            </div><!-- col-lg-3 col-md-6 Ends -->


        }




       
    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
    

        var ctx = document.getElementById('chart_0').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {}
        });

        var ctx = document.getElementById('chart_1').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {}
        });

        var ctx = document.getElementById('chart_2').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {}
        });

        var ctx = document.getElementById('chart_3').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {}
        });

    </script>




</body>
</html>
