<html>
    <head>
        <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <style>
            .box {
            
             text-align:center;
             height:65px;
          
            margin:10px;
          
           
            }

            .text
            {
                text-align:center; 
                color: darkgray;

            }

        </style>
    </head>

    <body>
        <h4 style="text-align:center; padding:5px">OEE</h4>
        <div class="col-lg-12" >
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3 box" style="background-color:mediumspringgreen;">
                        <div class="text">
                            Monday
                            <br />
                            85%
                        </div>

                    </div>
                    <div class="col-lg-3 box"  style="background-color:antiquewhite">
                        <div class="text">
                            Tuesday
                            <br />
                            95%
                        </div>
                    </div>
                    <div class="col-lg-3 box" style="background-color:aqua">
                        <div class="text">
                            Wednesday
                            <br />
                            65%
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 box" style="background-color:#7a3d1f">
                        <div class="text">
                            Thursday
                            <br />
                            69%
                        </div>
                    </div>
                    <div class="col-lg-3 box" style="background-color:palevioletred">
                        <div class="text">
                            Friday
                            <br />
                            70%
                        </div>
                    </div>
                    <div class="col-lg-3 box" style="background-color:#ffe6ff">
                        <div class="text">
                           Saturday
                            <br />
                            90%
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-lg-2 box" style= "background-color: #f4f471; height:145px;">
              
                <div class="text">
                    <br />
                    
                    Today
                       <br>             
                    100%
                    <br />
                    <br />
                   
                  
                   
                </div>
            </div>
           
        </div>
        

    </body>

</html>