<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .fontDesign {
        
        font-size:medium;
        
        
        
        }



    </style>


</head>


<h4 style="text-align:center; padding:5px">NRFT</h4>
<table class="table">
    <thead class="fontDesign">
        <tr>
            <th style="width:10%">Category</th>
            <th  style="width:8%">Expected</th>
            <th  style="width:8%">Current</th>
            <th>Progess</th>
        </tr>
    </thead>
    <tbody class="fontDesign">
        <tr>
            <td>Total</td>
            <td>1000</td>
            <td>1500</td>
            <td>
                <div class="progress" style="height:40px">
                    <div class="progress-bar" style="width:100%;   background-color:#c65353">150%</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>MS 01</td>
            <td>300</td>
            <td>100</td>
            <td>
                <div class="progress" style="height:25px; ">
                    <div class="progress-bar" style="width:33%; background-color:#339966">33%</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>MS 02</td>
            <td>500</td>
            <td>1220</td>
            <td>
                <div class="progress" style="height:25px;">
                    <div class="progress-bar" style="width:244%;   background-color:#c65353">244%</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>H/T</td>
            <td>200</td>
            <td>180</td>
            <td>
                <div class="progress" style="height:25px;">
                    <div class="progress-bar" style="width:90%;   background-color:#e69900">90%</div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
